<div class="row vertical-center-row">
	<br/><br/>
	<div style="font-family: Cursive; font-size:24pt; font-style:bold;" class="text-center">
		Soujanya Siddavaram
	</div>
	<br/>
	<div>
		<div class="text-center">
			<nav class="navbar-default navbar-side" id="siteMenu" role="navigation" style="background-color: white">
				<ul class="nav" id="main-menu">
					<li><a href="#/Home"><i class="fa fa-home"></i> Home</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<br/>
	<div class="text-center">
		<a href="https://linkedin.com/in/siddavaram" class="fa fa-linkedin" style="color: #05B8CC;font-size:24pt;text-decoration: none;margin-right:10px;"></a>
		<a href="https://github.com/SSiddavaram" class="fa fa-github" style="color: #05B8CC;font-size:24pt;text-decoration: none;margin-right:10px;"></a>
		<a href="" class="fa fa-facebook" style="color: #05B8CC;font-size:24pt;text-decoration: none;"></a>
	</div>
</div>