<div>
	<br/>
	<div>
		<div style="float: left;width: 80%; margin-left:2%">
			<h2>My First Blog!!!</h2>
			<p>Hurray!!! My first blog post. Finally, I have set it up. I always wanted to have a blog of my own. I would love to maintain this blog and keep sharing my experiences. I would continue making improvements to this blog.</p>
			<img src="src/images/First-Post.jpeg" height="100" width="100">
		</div>
		<div style="float: right;width: 18%;">
			<div class="text-right" style="margin-right: 40px">
				<img src="src/images/me.jpg" height="200" width="150" />
			</div>
		</div>
	</div>	
</div>