<div>
<br/><br/>	

	<div style="padding-right: 20%; padding-left: 20%">
		<img src="src/images/Alphabet-Logo.jpg" height="300" width="500"><br/>
		<p>
			<strong>Alphabet</strong> - Google's new parent company. Url for the new company is <a href="https://abc.xyz">Alphabet</a><br/><br/>

			Alphabet includes the following entities:
			<ul>
				<li>A smaller company called Google, headed by CEO <a href="https://en.wikipedia.org/wiki/Sundar_Pichai">Sundar Pichai</a>, that includes the company's core businesses. Those businesses: "search, ads, maps, apps, YouTube and Android and the related technical infrastructure."</li>

				<li>Other businesses, "such as Calico, Nest, and Fiber, as well as its investing arms, such as Google Ventures and Google Capital, and incubator projects, such as Google X," which "will be managed separately from the Google business."</li>
			</ul>
		</p>
	</div>
</div>