html,body {
    height: 100%
}

header {
    position: fixed;
    text-align: center;
    padding: 10px; 
    top: 0;
    background-color: #70DBDB;
    width: 100%;
}

header a:hover, header a:focus {
  text-decoration: none;
  color: white;
}

.name-font {
    font-size: 25px;
}

.name {
    text-decoration: none;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color:white; 
}

.about-font {
    font-size: 18px
}

#disqus_thread {
     position: relative;
}

#disqus_thread:after {
     content: "";
     display: block;
     height: 55px;
     width: 100%;
     position: absolute;
     bottom: 0;
     background: white;
}

.twBtn {
    margin-right: 40px;
}

.footer{
  	margin-right: 40px;
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
  }

.content{
  	height: 90%;
    margin-top: 7%;
    padding-bottom:100px;
}

  @media only screen and (max-device-width: 480px) and (orientation:portrait), only screen and (min-device-width: 640px) and (max-device-width: 1136px)  and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-color: white;
    line-height: 30px;
    margin: 0;
    padding: 0;
  }

  .twBtn {
      margin-right: 0;
  }

  .content {
    width: 800px;
    margin: 60px 30px auto auto;
    padding: 5px 10px;
  }
}

@media only screen and (max-device-width: 480px) and (orientation:landscape), only screen and (min-device-width: 640px) and (max-device-width: 1136px)  and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-color: white;
    line-height: 30px;
    margin: 0;
    padding: 0;
  }

  .content {
    width: 980px;
    margin: 60px auto auto auto;

    padding: 5px 10px;
  }
}